[submodule "cmake"]
	path = cmake
	url = https://github.com/BlueGhostStudio/BGStudio-cmake.git
[submodule "BGMRPCClient"]
	path = BGMRPCClient
	url = https://github.com/BlueGhostStudio/BGMRPCClient.git
