body {
    background-image: url(../../../imgs/girl1_v4.jpg);
    background-size: 100%;
    background-position: center center;
    
    text-shadow: 0 0 2px white;
}

#a_openDB {
    display: none;
}
#a_exitDBSession {
    display: none;
}
.client_form nav .state.connected {
    background-image: url('../../imgs/connect.png');
}

.client_form nav .state.disconnected {
    background-image: url('../../imgs/disconnect.png');
}

table {
/*    border-collapse:collapse;*/
    background-color: rgba(255,221,152,0.25);
    width: auto;
    margin: 0 1em;
    border: 1px solid rgba(255,255,255,0.25);
    border-spacing: 1px;
    box-shadow: 0 0 2px rgba(0,0,0,0.75);
}
th {
    font-weight: bold;
}
td, th {
    border: 1px solid rgba(0,0,0,0.5);
    padding: 2px;
}
.tables tr td:first-child {
    width: 100%;
}
.tables tr td:nth-child(2),
.tables tr td:nth-child(3),
.tables tr td:nth-child(4) {
    text-align: center;
    width: 0%;
    white-space: nowrap;
}
ul {
    font-size: 80%;
}