body {
    font-size: 10pt;
}
.summary {
    background-color: #ff6;
}
a {
    text-decoration: none;
}
a,a:visited {
    color: #c60;
}

.contents {
    margin: auto;
    margin: 25px;
    border: 1px solid white;
    border-radius: 8px;
    background: #ccc;
    box-shadow: 0 0 3px #999;
    display: flex;
    flex-wrap: wrap;
}

.frame.category {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px dotted #999;
    border-radius: 2px;
    flex: 1;
    margin: 5px;
    min-width: 720px;
}

.frame.category article {
    margin: 2px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 3px #999;
    flex: 1 1 28%;
}

.frame.category > header {
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    margin: 2px;
    margin-bottom: 0;
    flex-basis: 100%;
}
.frame.category > header h1 {
    margin: 0;
    font-size: 12pt;
    font-family: sans;
}

.frame.category article > header {
    margin-bottom: 40px;
}
.frame.category article header {
    background-color: #ddd;
    padding: 10px;
}
.frame.category article header h1 {
    margin: 0;
}
.frame.category article header p {
    margin: 0;
}
.frame.category article section {
    padding: 5px;
    border: 1px solid #ccc;
}
.frame.category article section header {
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}
.frame.category article section {
    min-height: 1em;
}

.frame.category article > h1 {
    font-size: 120%;
}
.frame.category article > h2 {
    font-size: 110%;
}
.frame.category article > h3 {
    font-size: 100%;
}
.frame.category article > h4 {
    font-size: 90%;
}
.frame.category article > h5 {
    font-size: 90%;
    font-style: italic;
}
.frame.category article > h6 {
    font-size: 80%;
}



/*nav {
    font-family: sans-serif;
    font-size: 10px;
    z-index: 1;
    padding: 0 2px;
}
nav a {
    background: #ccc;
    margin: 0.5px;
    padding: 1px;
    border: 1px solid white;
    box-shadow: 0 0 3px #999;
}*/
nav {
    font-size: 8px;
}
nav a {
    margin: 0 3px;
}

.article_nav {
    padding: 5px;
    background-color: white;
}
.content_edit_nav {
    background-color: white;
    padding: 2px;
    box-shadow: 0 0 3px #999;
}
.content_edit_nav,
.container_edit_nav {
    position: absolute;
}
.layout.main .contents article nav.article_nav {
    top: 2px;
    height: 16px;
}
article header h1:empty:after {
    color: #ccc;
    margin-left: 5em;
    content: 'No header';
}

.content_edit_nav,
.container_edit_nav {
    display: none;
}
.content_edit_nav {
}
header:focus,
header :focus,
[data-hp-editing=true] {
    background-color: #ffffcc;
    outline: 1px dashed #cccc33;
}
header:focus,
header :focus,
article :focus {
    min-height: 1em;
    outline-style: solid;
}
.layout.main .contents article header h1:focus,
.layout.main .contents article section header:focus {
    font-variant:normal;
}
/* .editingArticle { */
[data-container-editing=true] {
    outline: 1px solid #666;
}
.container_edit_nav {
    border: 1px solid #666;
    background-color: white;
}
.container_edit_nav.top {
    border-bottom: 0;
}
[data-actived-article=true] {
    box-shadow: 0 0 5px #ccc;
}

.content_edit_nav[data-which="SECTION"] #a_section,
.container_edit_nav[data-which="SECTION"].top #a_section {
    display: none;
}
#a_delSection {
    display: none;
}
#a_header {
    display: none;
}
.container_edit_nav[data-which="SECTION"].top #a_delSection {
    display: initial;
}
.container_edit_nav[data-which="SECTION"].top #a_header {
    display: initial;
}
.container_edit_nav[data-which="SECTION"].bottom #a_ol,
.container_edit_nav[data-which="SECTION"].bottom #a_ul,
.container_edit_nav[data-which="SECTION"].bottom #a_img {
    display: none;
}
